* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

button {
    padding: 50px;
}

h1 {
    color: #333;
    margin-top: 20px;
}